@model MyBook.ViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Mybook";
}

<header>
    <div class="header__container">
        <nav>
            <div class="nav__logo">
                <img src="~/img/logo/logo.svg" alt="">
                <img src="~/img/logo/mybook.svg" alt="">
            </div>
            <div class="nav__search">
                <input type="text" placeholder="Книга или автор">
            </div>
            <div class="nav__links">
                <div><a href="">Что выбрать</a></div>
                <div><a href="">Библиотека</a></div>
                <div><a href="">Подписка</a></div>
            </div>
            <div class="nav__btn-login">
                <a href="">Войти</a>
            </div>
        </nav>
        <menu>
            <div>
                <a href="" class="menu__link">📖 Книги </a>
            </div>
            <div>
                <a href="" class="menu__link">🎧 Аудиокниги</a>
            </div>
            <div>
                <a href="" class="menu__link">👌 Бесплатные книги</a>
            </div>
            <div>
                <a href="" class="menu__link">🔥 Новинки</a>
            </div>
            <div>
                <a href="" class="menu__link">❤️ Топ книг</a>
            </div>
            <div>
                <a href="" class="menu__link">🎙 Топ аудиокниг</a>
            </div>
            <div>
                <a href="" class="menu__link">🎙 Загрузи свой подкаст</a>
            </div>
        </menu>
    </div>
</header>
<div id="login-layout" class="authorization-layout-none">
    <div class="body__mask"></div>
    <div class="authorization">
        <div class="authorization__container">
            <div class="authorization__title">
                <h1>Вход</h1>
                <button id="login-btn_close">
                    <span>
                        <img src="~/img/close.svg" alt="">
                    </span>
                </button>
            </div>
            <form class="authorization__form" method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="authorization__inputs">
                    <div class="authorization__login">
                        <p>Почта или телефон:</p>
                        <input asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="authorization__password">
                        <p>Пароль:</p>
                        <input asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <button type="submit">Войти</button>
            </form>
            <div class="authorization__buttons">
                <button id="transition-register">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
<div id="register-layout" class="authorization-layout-none">
    <div class="authorization">
        <div class="authorization__container">
            <div class="authorization__title">
                <h1>Регистрация</h1>
                <button id="registration-btn_close">
                    <span>
                        <img src="~/img/close.svg" alt="">
                    </span>
                </button>
            </div>
            <form class="authorization__form" asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="authorization__inputs">
                    <div class="authorization__login">
                        <p>Ваша электронная почта:</p>
                        <input type="text" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="authorization__password">
                        <p>Придумайте пароль, пожалуйста:</p>
                        <input type="password" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <button type="submit">Зарегистрироваться</button>
            </form>
            <div class="authorization__buttons">
                <button id="transition-login">Войти</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/javascript.js"></script>