@{
    ViewData["Title"] = "Mybook";
}

<header>
    <div class="header__container">
        <nav>
            <div class="nav__logo">
                <img src="~/img/logo/logo.svg" alt="">
                <img src="~/img/logo/mybook.svg" alt="">
            </div>
            <div class="nav__search">
                <input type="text" placeholder="Книга или автор">
            </div>
            <div class="nav__links">
                <div><a href="">Что выбрать</a></div>
                <div><a href="">Библиотека</a></div>
                <div><a href="">Подписка</a></div>
            </div>
            <div class="nav__btn-login">
                <a href="">Войти</a>
            </div>
        </nav>
        <menu>
            <div>
                <a href="" class="menu__link">📖 Книги </a>
            </div>
            <div>
                <a href="" class="menu__link">🎧 Аудиокниги</a>
            </div>
            <div>
                <a href="" class="menu__link">👌 Бесплатные книги</a>
            </div>
            <div>
                <a href="" class="menu__link">🔥 Новинки</a>
            </div>
            <div>
                <a href="" class="menu__link">❤️ Топ книг</a>
            </div>
            <div>
                <a href="" class="menu__link">🎙 Топ аудиокниг</a>
            </div>
            <div>
                <a href="" class="menu__link">🎙 Загрузи свой подкаст</a>
            </div>
        </menu>
    </div>
</header>
<div id="login-layout" class="authorization-layout-none">
    <div class="body__mask"></div>
    <div class="authorization">
        <div class="authorization__container">
            <div class="authorization__title">
                <h1>Вход</h1>
                <button id="login-btn_close">
                    <span>
                        <img src="~/img/close.svg" alt="">
                    </span>
                </button>
            </div>
            <form action="" class="authorization__form">
                <div class="authorization__inputs">
                    <div class="authorization__login">
                        <p>Почта или телефон:</p>
                        <input type="text">
                    </div>
                    <div class="authorization__password">
                        <p>Пароль:</p>
                        <input type="password">
                    </div>
                </div>
                <button>Войти</button>
            </form>
            <div class="authorization__buttons">
                <button id="transition-register">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</div>
<div id="register-layout" class="authorization-layout-none">
    <div class="authorization">
        <div class="authorization__container">
            <div class="authorization__title">
                <h1>Регистрация</h1>
                <button id="registration-btn_close">
                    <span>
                        <img src="~/img/close.svg" alt="">
                    </span>
                </button>
            </div>
            <form action="" class="authorization__form">
                <div class="authorization__inputs">
                    <div class="authorization__login">
                        <p>Ваша электронная почта:</p>
                        <input type="text">
                    </div>
                    <div class="authorization__password">
                        <p>Придумайте пароль, пожалуйста:</p>
                        <input type="password">
                    </div>
                </div>
                <button>Зарегистрироваться</button>
            </form>
            <div class="authorization__buttons">
                <button id="transition-login">Войти</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/javascript.js"></script>